<section class="vite-promo">
  <div class="container">
    <div class="vite-promo-thumb">
      <div class="vite-promo-thumb-container">
        <a
          class="vite-promo-link"
          href="https://github.com/Veron0013/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to Github"
          title="my git"
        >
          <!-- Path to images as from index.html file -->
          <img
            class="pic"
            src="/img/ava_min.jpg"
            alt="My logo"
            width="640"
            height="640"
          />
        </a>
      </div>
    </div>
    <h1 class="main-title">
      <span class="main-title-gradient">HOMEWORK 10</span>
      by
      <a
        class="main-title-link"
        href="https://github.com/Veron0013/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Igor Vdovyka
      </a>
    </h1>
  </div>
</section>
