*,
*::before,
*::after {
	box-sizing: border-box;
}

.form {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.04em;
	color: #2e2f42;
}

.snackbar_form {
	display: block;
}

.input_delay {
	border: 1px solid #808080;
	border-radius: 4px;
	width: 360px;
	height: 40px;
	padding: 8px auto;
	padding-left: 16px;
	margin-bottom: 12px;
	margin-top: 10px;
}

.fieldset {
	border: 1px solid #808080;
	border-radius: 4px;
	width: 360px;
	height: 78px;
	display: flex;
	align-items: center;
}

.snackbar_options {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.btn_snackbar {
	border-radius: 8px;
	padding: 8px 16px;
	border-color: transparent;
	width: 360px;
	height: 40px;
	background: #4e75ff;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.04em;
	color: #fff;
	margin-top: 24px;
}

.btn_snackbar:hover,
.btn_snackbar:focus {
	background-color: #6c8cff;
	transition: 1600ms cubic-bezier(0.08, 0.8, 0.2, 1);
}

.input_delay:hover,
.input_delay:focus,
.fieldset:hover,
.input_delay:focus {
	border-color: #000;
	transition: 1600ms cubic-bezier(0.08, 0.8, 0.2, 1);
}

.input_delay:active {
	border-color: #4e75ff;
}